experiments:


  - config: config/config_training_followlane_bs_td3_f1_carla.yaml
    carla:
      carla_client: 4013
    carla_environments:
      follow_lane:
        town: [Town01, Town03, Town04]
    settings:
      algorithm: td3
      normalize: true
      compensated_inits: false
      initial_std_w: 0.8
      initial_std_v: 0.5
      net_arch: [ 300, 300 ]
      steps_to_decrease: 5000
      appended_states: 10
      seed: 888
      reward_params:
        punish_braking: 2 # used as d_reward_power
        punish_zig_zag_value: 0.5
        punish_deviation: 10
        beta_1: 0
    algorithm:
      td3:
        policy_noise: 0.2
        policy_delay: 2

#
#  - config: config/config_training_acc_bs_sac_f1_carla.yaml
#    carla:
#      carla_client: 4013
#    carla_environments:
#      follow_lane:
#        town: [Town01, Town03, Town04]
#    settings:
#      algorithm: sac
#      normalize: true
#      net_arch: [ 128, 128, 128, 128, 128]
#      initial_std_w: 0.8
#      initial_std_v: 0.8
#      steps_to_decrease: 10000000000
#      appended_states: 10
#      seed: 42
#      reward_params:
#        punish_braking: 2 # used as d_reward_power
#        punish_zig_zag_value: 0.5
#        punish_deviation: 10
#        beta_1: 0
#
#  - config: config/config_training_acc_bs_sac_f1_carla.yaml
#    carla:
#      carla_client: 4013
#    carla_environments:
#      follow_lane:
#        town: [Town01, Town03, Town04]
#    settings:
#      algorithm: sac
#      normalize: true
#      initial_std_w: 0.8
#      initial_std_v: 0.8
#      net_arch: [ 128, 128, 128, 128, 128 ]
#      steps_to_decrease: 10000000000
#      appended_states: 10
#      seed: 1234
#      reward_params:
#        punish_braking: 2 # used as d_reward_power
#        punish_zig_zag_value: 0.5
#        punish_deviation: 10
#        beta_1: 0