experiments:

#  - config: config/config_training_followlane_bs_td3_f1_carla.yaml
#    carla:
#      carla_client: 4013
#    carla_environments:
#      follow_lane:
#        town: [Town01, Town03, Town04]
#    settings:
#      algorithm: td3
#      normalize: true
#      net_arch: [128, 128, 128, 128, 128]
#      initial_std_w: 0.5
#      initial_std_v: 0.8
#      steps_to_decrease: 3000
#      seed: 888
#      appended_states: 10
#      reward_params:
#        punish_braking: 2 # used as d_reward_power
#        punish_zig_zag_value: 0.5
#        punish_deviation: 10
#        beta_1: 0
#    algorithm:
#      td3:
#        critic_lr: 0.0003
#        gamma: 0.9
#        policy_delay: 2
#        policy_noise: 0.2


  - config: config/config_training_followlane_bs_ppo_f1_carla.yaml
    carla:
      carla_client: 4013
    carla_environments:
      follow_lane:
        town: [ Town01, Town03, Town04 ]
    settings:
      mode: retraining
      algorithm: ppo_continuous
      normalize: true
      net_arch: [ 128, 128, 128, 128, 128 ]
      initial_std_w: 0.8
      initial_std_v: 0.8
      seed: 1234
      steps_to_decrease: 21000000500
      appended_states: 10
      reward_params:
        punish_braking: 2 # used as d_reward_power
        punish_zig_zag_value: 0.5
        punish_deviation: 10
        beta_1: 0
    algorithm:
      ppo:
        gamma: 0.9
        batch_size: 1024
        ent_coef: 0.05
        critic_lr: 0.0003
    retraining:
      ppo:
        retrain_ppo_tf_model_name: /home/ruben/Desktop/2020-phd-ruben-lucas/src/RL-Studio/rl_studio/checkpoints/follow_lane_carla_ppo_continuous_auto_carla_baselines/20251207-230352/model_970000_steps.zip
