experiments:

  - config: config/config_training_acc_bs_sac_f1_carla.yaml
    carla:
      carla_client: 5013
      manager_port: 8031
    carla_environments:
      follow_lane:
        town: [Town01, Town03, Town04]
        acc:
          front_car: fixed
    settings:
      use_heartbeat: true
      mode: training
      task: acc_carla
      algorithm: sac
      normalize: true
      net_arch: [ 128, 128, 128, 128, 128]
      initial_std_w: 0.8
      initial_std_v: 0.8
      steps_to_decrease: 3000
      appended_states: 10
      random_direction: False
      seed: 1
      reward_params:
        punish_braking: 2 # used as d_reward_power
        punish_zig_zag_value: 0.5
        punish_deviation: 10
        beta_1: 0
    algorithm:
      sac:
        gamma: 0.9
    retraining:
      sac:
        retrain_sac_tf_model_name: /home/ruben/Desktop/2020-phd-ruben-lucas/src/RL-Studio/rl_studio/best_checkpoints/10points/optimal/sac_bs/seed888/1201/model_1380000_steps_20251202-043918.zip
