experiments:

#  - config: config/config_training_followlane_bs_sac_f1_carla.yaml
#    carla:
#      carla_client: 5013
#    carla_environments:
#      follow_lane:
#        town: [Town01, Town03, Town04]
#    settings:
##      mode: retraining
#      algorithm: sac
#      normalize: true
#      net_arch: [ 128, 128, 128 ]
#      initial_std_w: 0.8
#      initial_std_v: 0.8
#      steps_to_decrease: 10000000000
#      appended_states: 10
#      reward_params:
#        punish_braking: 2 # used as d_reward_power
#        punish_zig_zag_value: 0.5
#        punish_deviation: 10
#        beta_1: 0
#
#  - config: config/config_training_followlane_bs_sac_f1_carla.yaml
#    carla:
#      carla_client: 5013
#    carla_environments:
#      follow_lane:
#        town: [Town01, Town03, Town04]
#    settings:
##      mode: retraining
#      algorithm: sac
#      normalize: true
#      initial_std_w: 0.8
#      initial_std_v: 0.8
#      net_arch: [ 128, 128, 128, 128, 128 ]
#      steps_to_decrease: 10000000000
#      appended_states: 10
#      reward_params:
#        punish_braking: 2 # used as d_reward_power
#        punish_zig_zag_value: 0.5
#        punish_deviation: 10
#        beta_1: 0

  - config: config/config_training_followlane_bs_ppo_f1_carla.yaml
    carla:
      carla_client: 5013
    carla_environments:
      follow_lane:
        town: [Town01, Town03, Town04]
    settings:
      algorithm: ppo_continuous
      normalize: true
      initial_std_w: 0.8
      initial_std_v: 0.8
      net_arch: [128, 128, 128, 128, 128]
      steps_to_decrease: 10000000000
      appended_states: 10
      seed: 1234
      reward_params:
        punish_braking: 2 # used as d_reward_power
        punish_zig_zag_value: 0.5
        punish_deviation: 10
        beta_1: 0
    algorithm:
      ppo:
        gamma: 0.9
        epsilon: 0.3
        critic_lr: 0.0003
        ent_coef: 0.05

  - config: config/config_training_followlane_bs_ppo_f1_carla.yaml
    carla:
      carla_client: 5013
    carla_environments:
      follow_lane:
        town: [Town01, Town03, Town04]
    settings:
      algorithm: ppo_continuous
      normalize: true
      initial_std_w: 0.8
      initial_std_v: 0.8
      net_arch: [ 128, 128, 128, 128, 128 ]
      steps_to_decrease: 10000000000
      appended_states: 10
      seed: 42
      reward_params:
        punish_braking: 2 # used as d_reward_power
        punish_zig_zag_value: 0.5
        punish_deviation: 10
        beta_1: 0
    algorithm:
      ppo:
        epsilon: 0.25
        critic_lr: 0.0003
        gamma: 0.9
        ent_coef: 0.03